@model Jurassic.AppCenter.Models.PasswordResetModel
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
    ViewBag.Title = ResHelper.GetStr("ChangePassword");
    ViewBag.ShowSearchBox = false;
    ViewBag.ShowBreadCrumb = false;
    ViewBag.ShowToolBar = false;
}
<style>
    .changepassword .mini-textbox {
        width: 250px;
    }
    .changepassword .titleline {
        text-align: center;
        border-bottom: 1px solid #f3f3f3;
    }

    .changepassword .prompt {
        color: #2b7cd8;
        font-size: 14px;
    }

    .changepassword .contentdivl {
        width: 35%;
    }
        .changepassword .contentdivl label,
        .changepassword .contentdivr label {
            color: #999;
        }
</style>
<div class="mini-xs mini-sm mini-md mini-md-active mini-col">
    <div class="container-fluid">
        <div class="mini-clearfix">
            <div class="mini-col-12">
                <div class="mini-panel layout-panel  frame-fit topinfo frame-fit changepassword" width="auto" showHeader="false">
                    <div class="contentdiv">
                        <div class="titlediv titleline">
                            <p class="prompt">@(CommOp.ToBool(ViewBag.IsLogin) ? FStr.LoginChangePasswordFirst : FStr.ChangeYourPassword)</p>
                        </div>
                        <div>
                            <div class="contentdivl"><label> @JStr.UserName：</label></div>
                            <div class="contentdivr">
                                <label>@User.Identity.Name</label>
                            </div>
                        </div>
                        <div>
                            <div class="contentdivl"><label>@FStr.OldPassword：</label></div>
                            <div class="contentdivr">
                                <input id="IsLogin" name="IsLogin" type="hidden" value="@ViewBag.IsLogin" />
                                <input id="OldPassword" name="OldPassword" errormode="icon" class="mini-password" required="true" vtype="minLength:5" requirederrortext="@FStr.PasswordEmpty" minlengtherrortext="@FStr.PasswordAtLeast5Chars" />
                            </div>
                        </div>
                        <div>
                            <div class="contentdivl"> <label>@FStr.NewPassword：</label></div>
                            <div class="contentdivr">
                                <input id="Password" name="Password" errormode="icon" class="mini-password" required="true" vtype="minLength:5" requirederrortext="@FStr.PasswordEmpty" minlengtherrortext="@FStr.PasswordAtLeast5Chars" />
                            </div>
                            <div class="contentdivr">
                                <span id="Password_error" class="showTips"></span>
                            </div>
                        </div>
                        <div>
                            <div class="contentdivl"><label>@FStr.ConfirmPassword：</label></div>
                            <div class="contentdivr">
                                <input id="ConfirmPassword" name="ConfirmPassword" errormode="icon" class="mini-password" required="true" vtype="minLength:5" requirederrortext="@FStr.PasswordEmpty" minlengtherrortext="@FStr.PasswordAtLeast5Chars" />
                            </div>
                        </div>
                        <div>
                            <div class="contentdivl"></div>
                            <div class="contentdivr">
                                <a class="mini-button frame-submit frame-default jrbtn-primary">
                                    @JStr.OK
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    mini.parse();
</script>
