@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "案例详情页";
}
<link rel="stylesheet" href="~/Content/element-ui/index.css" />
<!-- 先引入 Vue -->
<script src="~/Content/element-ui/vue.js"></script>
<!-- 引入组件库 -->
<script src="~/Content/element-ui/index.js"></script>
<script type="text/javascript" src="~/Content/treegrid/tree-table.min.js"></script>
@*<script type="text/javascript" src="~/Content/treegrid/data.js"></script>*@
<style type="text/css">
    body > div > p {
        background-color: #f5f5f5;
        border-left: 4px solid #ccc;
        line-height: 40px;
        padding-left: 10px;
    }

    .el-table th {
        font-weight: 700;
        color:#333;
    }

    .el-table td {
        color: #333;
    }
</style>

<div id="el">
    <div class="jurassic-row">
        <div id="app1" class="jurassic-margin-container">
            <div style="text-align: center;">
                <h1>{{name}}</h1>
            </div>
            <div style="text-align: center;margin:5px;">               
                <el-tag>案例主题： {{theme}}</el-tag>
                @*<span style="margin-left:10px;margin-right:10px;"></span>*@
                <el-tag>描述目标： {{bo}}</el-tag>
                <el-tag>作者： {{author}}</el-tag>
                @*<span style="margin-left:10px;margin-right:10px;"></span>*@
                <el-tag>审核人： {{auditor}}</el-tag>
            </div>
            <i class="glyphicon glyphicon-list jurassic-panel-logo"></i>
            <span class="jurassic-panel-title">案例说明</span>
            <div style="margin:5px;">
                <p style="text-indent:2em">{{remark}}</p>
            </div>
        </div>
        
    </div>

    <div class="jurassic-row">
        <div id="app2" class="jurassic-margin-container" style="margin-top:20px;">
            <i class="glyphicon glyphicon-list jurassic-panel-logo"></i>
            <span class="jurassic-panel-title">案例参数</span>
            <el-table :data="model.menus" border max-height="400" style="font-size:14px;">
                <el-table-tree-column fixed
                                      :expand-all="!!1"
                                      :remote="remote"
                                      file-icon="icon icon-file"
                                      folder-icon="icon icon-folder"
                                      prop="label"
                                      label="参数名称"
                                      width="320"
                                      class-name="123"
                                      header-align="center"
                                      :formatter="formatter">
                </el-table-tree-column>
                <el-table-column prop="paramvalue"
                                 label="参数值"
                                 :show-overflow-tooltip="true"
                                 width="180">
                </el-table-column>
                <el-table-column prop="sampledata"
                                 label="典型数据"
                                 :show-overflow-tooltip="true"
                                 width="180">
                </el-table-column>
                <el-table-column prop="remark"
                                 label="补充说明"
                                 :show-overflow-tooltip="true"
                                 width="320">
                </el-table-column>
            </el-table>
        </div>
    </div>

    <div class="jurassic-row">        
        <div class="jurassic-col-6">            
            <div id="app3" class="jurassic-margin-container">
                <i class="glyphicon glyphicon-list jurassic-panel-logo"></i>
                <span class="jurassic-panel-title">图版/公式</span>
                <el-table :data="data" v-on:row-click="handleRowClick"
                          style="font-size:14px;width: 100%;">
                    <el-table-column prop="name"
                                     label="名称"
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="charttype"
                                     label="图版/公式"
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="parameters"
                                     label="相关参数">
                    </el-table-column>
                </el-table>
            </div>
        </div>
        <div class="jurassic-col-6">          
            <div class="jurassic-margin-container">
                <img id="imgChart" alt="图版/公式" style="width:290px;height:290px;padding:10px;" />
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    var app1 = new Vue({
        el: '#app1',
        data: {
            name: "",
            theme: "",
            bo: "",
            remark: "",
            author: "",
            auditor: ""
        }
    })

    var app2 = new Vue({
        el: "#app2",
        data: {
            model: {
                menus: []
            }
        },
        methods: {
            remote(row, callback) {
                setTimeout(function () {
                    callback(row.children)
                }, 500)
            },
            formatter(row, column) {
                return row.label;
            }
        }
    })

    var app3 = new Vue({
        el: "#app3",
        data: function () {
            return {
                data: []
            };
        },
        methods: {
            handleRowClick(row, event, column) {
                console.log(row);
                $('#imgChart').attr('src', "@Url.Action("GetDetailChart", "Case")?instanceId=" + @ViewBag.InstanceId + "&chartId=" + row.id);
            }
        }
    })

    $.ajax({
        url: "@Url.Action("GetInstanceInfo","Case")?instanceId=" + @ViewBag.InstanceId,
        success: function (data) {
            app1.name = data.Name;
            app1.theme = data.Theme;
            app1.bo = data.BoDescription;
            app1.remark = data.Remark;
            app1.author = data.Author;
            app1.auditor = data.Auditor;
        }
    })

    $.ajax({
        url: "@Url.Action("GetParamTreeGrid", "Case")?instanceId=" + @ViewBag.InstanceId,
        success: function (data) {
            app2.model.menus = data;
        }
    })

    $.ajax({
        url: "@Url.Action("GetCharts", "Case")?instanceId=" + @ViewBag.InstanceId,
        success: function (data) {
            app3.data = data;
        }
    })
</script>